@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,500,700&display=swap');

body {
    line-height: 1.4;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.section {   
    max-width: 1220px;
    margin: 100px auto;
    padding: 0 20px;
}

/* section-title */
.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.section_title h4 {
    font-weight: 700;
    font-size: 24px;
}

.section_title .arrows {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.section_title .arrows i {
    width: 30px;
    height: 30px;   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* header */
.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
}

.header .bars {
    position: relative;
    font-size: 30px;
    padding: 16px;
    display: none;
    z-index: 11;
}

.header .bars.on {
    color: white;
}

.header .gnb {
    display: flex;
}

.header .gnb li a {
    display: block;
    padding: 10px 30px;
    text-align: center;
}

.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .extra {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

/* footer */
.footer {
    background-color: #111;
    color: #fff;
}

.footer .section {
    margin: 0 auto;
    padding: 70px 0 90px;
    position: relative;
}
.f_menu > ul {
    display: flex;
    gap: 100px;
}

.f_menu > ul > li > a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px;
}

.f_menu > ul > li  ul a {
    font-size: 13px;
    padding: 10px;
    display: block;
    color: #ddd;
}

.f_menu > ul > li  ul a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: #ddd;
    margin-top: 70px;
}

/* sns */
.footer .section .sns {
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    gap: 20px;
}

.sns a {
    display: block;
}

.sns a i {
    font-size: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #111;
}

/* mo */
@media (max-width: 768px) {

    .section {   
        max-width: 1220px;
        margin: 60px auto;
        padding: 0 16px;
    }
    /* header */
    .header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header .logo img {
        width: 56px;
    }
    
    .header .extra {
        gap: 0px;
        margin-right: 10px;
    }

    .header .extra img{
        width: 36px;
    }

    .header .bars {
        font-size: 30px;
        padding: 16px;
        display: block;
    }

    .header .gnb {
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #111;
        color: #fff;
        flex-direction: column;
        z-index: 10;
        padding-top: 100px;
        transition: all 0.3s;
    }
    
    .header .gnb.on {
        left: 0;
    }

    .header .gnb li a {
        padding: 20px;
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* section-title */
    .section_title h4 {
        font-size: 20px;
    }

    .section_title .arrows {
        display: none;
    }
    /* footer */
    .footer .section {
        padding: 70px 0 70px;
    }

    .f_menu > ul {
        flex-wrap: wrap;
        gap: 40px 90px;
        padding: 0 16px;
    }

    .f_menu > ul > li > a {
        font-size: 14px;
        font-weight: 700;
        display: block;
        padding: 10px;
    }

    .copyright {
        font-size: 10px;
        margin-top: 100px;
        text-align: center;
    }

    /* sns */
    .footer .section .sns {
        position: absolute;
        gap: 30px;
        top: inherit;
        left: inherit;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sns a i {
    width: 24px;
    height: 24px;
    }
    }
