@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,500,700&display=swap');

body {
    line-height: 1.4;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.section {   
    max-width: 1220px;
    margin: 100px auto;
    padding: 0 20px;
}

.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
}

.header .bars {
    position: relative;
    font-size: 30px;
    padding: 16px;
    display: none;
    z-index: 11;
}

.header .bars.on {
    color: white;
}

.header .gnb {
    display: flex;
}

.header .gnb li a {
    display: block;
    padding: 10px 30px;
    text-align: center;
}

.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .extra {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

/* mainSlide */
.mainSlide {
    max-width: 1220px;
    height: 640px;
    position: relative;    
    margin: 0 auto;
}

.mainSlide .textBox {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.mainSlide .textBox h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
}

.mainSlide .textBox p {
    margin: 10px 0 40px;
}

.mainSlide .photo {
    position: absolute;
    top: 0;
    right: 20px;
}


/* section-title */
.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.section_title h4 {
    font-weight: 700;
    font-size: 24px;
}

.section_title .arrows {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.section_title .arrows i {
    width: 30px;
    height: 30px;   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* section1 */
.main .s1 {
    display: flex;
    gap: 20px;
}

.main .s1 .item {
    flex: 1;
    height: 580px;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.main .s1 .item h3 {
    font-weight: 700;
    font-size: 32px;
}

.main .s1 .item a {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 20px;
}

/* section2 */
.main .s2 .section_items .item .thumb {
    /* width: 280px; */
    height: 280px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
}

.main .s2 .section_items .item .titles {
    padding: 20px 0;
}

.main .s2 .section_items .item .titles h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.main .s2 .section_items .item .titles p {
    font-size: 14px;
}

/* section3 */
.main .s3 {
    display: flex;
    gap: 20px;
}

.main .s3 .item {
    flex: 1;
}

.main .s3 .item .thumb{
    height: 360px;
    background-color: #ddd;
    position: relative;
}

.main .s3 .item .thumb .user{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .s3 .item .thumb .user .photo{
    width: 40px;
    height: 40px;
    background-color: #111;
    border-radius: 100%;
}

.main .s3 .item .thumb .user .info .name{
    font-size: 14px;
}

.main .s3 .item .thumb .user .info .job{
    font-size: 10px;
}

/* section4 */
.main .s4 .section_items {
    overflow: hidden;
}

.main .s4 .section_items .item {
    width: 380px;
}

.main .s4 .section_items .item .thumb{
    width: 380px;
    height: 280px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
}

.main .s4 .section_items .item .titles h4{
    padding: 20px 0;
    font-weight: 700;
}


/* section5 */
.main .s5 {
    padding: 80px 0 70px;
    text-align: center;
}

.main .s5 .text_box h3 {
    font-weight: 700;
    font-size: 32px;
}

.main .s5 .text_box p.text {
    margin: 30px auto 50px;
    width: 42%;
}

.main .s5 .text_box p.mText {
    display: none;
}

.main .s5 .text_box a.btn {
    margin: 0 auto;
}

/* footer */
.footer {
    background-color: #111;
    color: #fff;
}

.footer .section {
    margin: 0 auto;
    padding: 70px 0 90px;
    position: relative;
}
.f_menu > ul {
    display: flex;
    gap: 100px;
}

.f_menu > ul > li > a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px;
}

.f_menu > ul > li  ul a {
    font-size: 13px;
    padding: 10px;
    display: block;
    color: #ddd;
}

.f_menu > ul > li  ul a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: #ddd;
    margin-top: 70px;
}

/* sns */
.footer .section .sns {
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    gap: 20px;
}

.sns a {
    display: block;
}

.sns a i {
    font-size: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #111;
}

/* mo */
@media (max-width: 768px) {

    .section {   
        max-width: 1220px;
        margin: 60px auto;
        padding: 0 16px;
    }
    /* header */
    .header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header .logo img {
        width: 56px;
    }
    
    .header .extra {
        gap: 0px;
        margin-right: 10px;
    }

    .header .extra img{
        width: 36px;
    }

    .header .bars {
        font-size: 30px;
        padding: 16px;
        display: block;
    }

    .header .gnb {
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #111;
        color: #fff;
        flex-direction: column;
        z-index: 10;
        padding-top: 100px;
        transition: all 0.3s;
    }
    
    .header .gnb.on {
        left: 0;
    }

    .header .gnb li a {
        padding: 20px;
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* slide */
    .mainSlide {
        height: 580px;
        margin-top: 60px;
        overflow: hidden;
    }
    
    .mainSlide .textBox {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    .mainSlide .textBox h2 {
        font-size: 32px;
        margin-bottom: 26px;
    }
    
    .mainSlide .textBox p {
        display: none;
    }
    
    .mainSlide .photo {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        width: 130%;
    }

    .mainSlide .photo img {
       width: 100%
    }

    /* section-title */
    .section_title h4 {
        font-size: 20px;
    }

    .section_title .arrows {
        display: none;
    }

    /* s1 */
    .main .s1 {
        flex-direction: column;
    }
    
    .main .s1 .item {
        flex: initial;
        height: 343px;
        padding: 20px;
    }
    
    .main .s1 .item h3 {
        font-size: 24px;
    }
    
    .main .s1 .item a {
        gap: 10px;
        font-size: 14px;
    }

    /* s3 */
    .main .s3 {
        flex-direction: column;
        gap: 20px;
    }

    .main .s3 .item .thumb{
        height: 210px;
    }

    /* s5 */
    .main .s5 {
        padding: 60px 0 60px;
    }

    .main .s5 .text_box h3 {
        font-size: 24px;
    }

    .main .s5 .text_box p.text {
        display: none;
    }
    
    .main .s5 .text_box p.mText {
        display: block;
        margin: 34px auto 26px;
        font-size: 12px;
        width: 80%;
    
    }

    .main .s5 .text_box a.btn {
        width: 130px;
        height: 40px;
        font-size: 12px;
        border-radius: 60px;
        line-height: 40px;
    }

    /* footer */
    .footer .section {
        padding: 70px 0 70px;
    }

    .f_menu > ul {
        flex-wrap: wrap;
        gap: 40px 90px;
        padding: 0 16px;
    }

    .f_menu > ul > li > a {
        font-size: 14px;
        font-weight: 700;
        display: block;
        padding: 10px;
    }

    .copyright {
        font-size: 10px;
        margin-top: 100px;
        text-align: center;
    }

    /* sns */
    .footer .section .sns {
        position: absolute;
        gap: 30px;
        top: inherit;
        left: inherit;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sns a i {
    width: 24px;
    height: 24px;
    }
}